In [1]:
# <class range>
# 숫자만 해당, 실제 데이터를 가지고 있지 않음

#a=range(초기값,마지막값,증가값)
a=range(0,10,1) # 0,1,2,3,4...,8,9
print(a)

range(0, 10)

range는 실제데이터가 아닌 데이터의 영역에 대한 의미만 저장하기 때문에 작은 메모리 공간으로 많은 데이터를 표현할 수 있음

In [2]:
# in 안에 들어있는지 (논리연산자)
print(6 in range(10))

True

In [4]:
#indexing, slicing
a=range(10,50)
print(a[1])  #indexing 가능
print(a[1:3]) #slicing은 원본 type 유지

11
range(11, 13)

 ### Text Sequence Type
     - class str

In [5]:
#문자열 
#python은 문자와 문자열 구분 하지 않음

#다른 언어에선 
#문자(character)는 한 글자 => 'a'
#문자열(string)은 여러 글자 => "aaa", "a"

### Mapping type
    - class dict

In [ ]:
#dictionary => {}
#키와 value를 쌍으로 저장하는 집합 자료구조
#순서가 존재하지 않음!

### Set Type
    - class set

- set은 주머니 개념
- 여러 개의 데이터를 저장할 수 있는 집합 자료구조
- 순서가 없음
- 키의 개념이 없음 (값만 저장)
- 중복 허용X
- literal => {}

In [6]:
a= set([1,2,2,2,3,3,3,4,4])
print(a)

{1, 2, 3, 4}

In [8]:
#set의 연산 => 합집합, 교집합, 차집합

a=set([1,2,3,4,5])
b=set([3,4,5,6,7])

#합집합
union = a | b
print(union)

#교집합
inter = a & b
print(inter)

#차집합
differ = a - b
print(differ)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [12]:
#set에 데이터 추가
a={1,2,3}
a.add(6)
a.add('안녕')
a.add((45,))
print(a)

{1, 2, 3, 6, (45,), '안녕'}

In [13]:
# add 예외
# error 남!

# a.add([1,2,3,4]) ->set에 리스트 추가
# a.add({'name':'홍길동'}) -> set에 딕셔너리 추가 
# a.add({6,7,8}) -> set에 set추가

In [14]:
a={1,2,3}
#add는 한개 추가 update는 여러개 추가
a.update([5,6,7])
print(a)

{1, 2, 3, 5, 6, 7}

In [15]:
#특정 요소 삭제 -> remove
a.remove(3)
print(a)

{1, 2, 5, 6, 7}

### Bool type

    - True
    - Fasle

In [16]:
#연산자는 and,or,not 연산

#and는 둘다 true 일때만 true
print(True and True)
print(False and True)

True
False

In [17]:
#or은 둘 중 하나만 true이면 true
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [18]:
#not은 반대
print(not True)
print(not False)

False
True

In [21]:
# 기억해야할 사항
# 다음의 값은 모두 False로 간주

# 빈 문자열("") -> 공백도 없어야함
print(bool('' and True))
#[] -> 빈 리스트,() -> 빈 튜플,{} -> 빈 딕셔너리
# 숫자 0
# None

False

## control statement(제어문)

In [23]:
# if문 
# 논리값을 기반으로 실행코드의 분기를 시키는 제어문
# python은 코드블럭을 표현하기 위해 {}를 사용하지 않음
# 코드블럭 = tab(들여쓰기 4칸)
if 20 > 30:
    print('조건이 True입니다')
else:
    print("조건이 False 입니다")

조건이 False 입니다

In [24]:
#for문

a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
# 1000보다 작은 자연수 중에서 3또는 5의 배수의 합구하기

sum=0
for i in range(1,1000):
    if i % 3 ==0 or i%5==0:
        sum += i
print(sum)

233168

In [33]:
# 피보나치 수열의 각 항은 바로 앞의 항 두 개를 더한 것이 된다.
# 1과 2로 시작하는 경우 이 수열에서 짝수이면서 4백만 이하인 모든 항의 합구하기
fibo=[1,2]
while fibo[-2]+fibo[-1] <= 4000000:
    fibo.append(fibo[-2]+fibo[-1])
sum=0
for i in fibo:
    if i%2==0:
        sum+= i
print(sum)

4613732