In [1]:
import numpy as np
import pandas as pd

In [2]:
seoul = pd.read_csv('C:/jupyter_home/data/seoul.csv', encoding='cp949')
display(seoul.head())

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4

In [3]:
daegu = pd.read_csv('C:/jupyter_home/data/daegu.csv', encoding='cp949')
display(daegu)

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-01-31  143      NaN     -7.0      0.8
1      1907-02-01  143      NaN      NaN      NaN
2      1907-02-02  143      NaN      NaN      NaN
3      1907-02-03  143      NaN      NaN      NaN
4      1907-02-04  143      NaN      NaN      NaN
...           ...  ...      ...      ...      ...
42048  2022-03-16  143     14.4      5.1     23.0
42049  2022-03-17  143      8.8      6.3     13.6
42050  2022-03-18  143      6.1      4.3      8.1
42051  2022-03-19  143      4.9      3.0      8.1
42052  2022-03-20  143      6.6      2.0     11.0

[42053 rows x 5 columns]

In [4]:
# 1. 기상 관측 이래, 서울의 최고 기온이 가장 높았던 날은 언제였고, 
#         몇도인가요?
print('날짜 :',seoul.iloc[seoul['최고기온(℃)'].idxmax()]['날짜'],'기온 :',seoul.iloc[seoul['최고기온(℃)'].idxmax()]['최고기온(℃)'])

날짜 : 2018-08-01 기온 : 39.6

In [11]:
### 2. 역사적으로 일교차가 가장 큰 날짜는 몇년 몇월 몇일 인가요?
seoul['일교차'] = seoul['최고기온(℃)'] - seoul['최저기온(℃)']
daegu['일교차'] = daegu['최고기온(℃)'] - daegu['최저기온(℃)']

print('In 서울 : ',seoul.iloc[seoul['일교차'].idxmax()]['날짜'])

In 서울 :  1942-04-19

In [10]:
# 3. 1년 중 평균적으로 일교차가 가장 큰 날짜는 몇월 몇일 인가요?
seoul3 = seoul[['날짜','일교차']]
seoul3['날짜'] = pd.to_datetime(seoul3['날짜'],format='%Y-%m-%d')
max_temp = 0

for month in range(1,13):
    for day in range(1,32):
        target_month = month
        target_day = day
        data = seoul3.query('날짜.dt.month == @target_month and 날짜.dt.day==@target_day')
        if max_temp < data['일교차'].mean():
            max_temp = data['일교차'].mean()
            max_date = str(month)+'월'+str(day)+'일'
            
print(max_date)

C:\Users\LG\.conda\envs\machine_TF15\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

4월29일

In [9]:
# 4. 가장 덥다고 알려진 대구보다 서울이 더 더운날이 가장 많은 연도는 
#         언제인가요?

merge = pd.merge(seoul,daegu, on='날짜',how='inner') # 41379 rows × 9 columns

count_list = []
for i in range(len(merge)):
    if merge.iloc[i]['최고기온(℃)_x'] > merge.iloc[i]['최고기온(℃)_y']:
        count_list.append(1)
    else:
        count_list.append(0)
    
merge['count'] = count_list

count = 0
max_count = 0
max_year = 0
start_idx = 0
end_idx = 0

for year in range(1907,2023):
    year_str = str(year)
    for i in range(start_idx,len(merge)-1):
        if year_str in merge.iloc[i]['날짜']:
            continue 
        else:
            end_idx = i
            target = merge.iloc[start_idx:end_idx]
            count = target['count'].sum()
            start_idx = i
            if max_count < count:
                max_year = year
                max_count = count
            break
    
print(max_year)

1930